/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 35px 10px 0;
  padding: 10px 10px 20px;
  border-bottom: 1px solid lightgray;
  box-decoration-break: clone;
}

#stories-loading-msg {
  font-weight: bold;
  margin: 20px 30px;
}

/* Individual stories */

.fav-star {
  cursor: pointer;
  font-size: large;
}

.fa-trash-alt {
  cursor: pointer;
  font-size: large;
}

.fav-star i {
  padding: 0 0 10px 0;
}

.fav-star:hover {
  color: #ff6600;
}

.fav-star .fas {
  color: #ff6600;
}

.delete-story .fas:hover {
  color: #ff6600;
}

.story-link {
  color: #252523;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px;
}

.story-link:hover {
  text-decoration: none;
  color: #ff6600;
}

.story-author {
  display: block;
  padding: 5px 25px;
  color: green;
}

.story-user {
  display: block;
  color: #f59f33;
  padding: 5px 25px;
}
